<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>App</title>
    <style>
      body { font-family: 'Arial', sans-serif; background-color: #f4f4f4;
      margin: 0; padding: 0; } header { text-align: center; padding: 1em 0; }
      main { max-width: 800px; margin: 20px auto; padding: 20px;
      background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); } h1, h2 { color: #333; } a { text-decoration: none; color:
      #007BFF; margin-right: 20px; } a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <header>
      <h1>Hello Nest</h1>
    </header>
    <main>
      <div>
        <h2>회원 기능</h2>
        <div>
          <a href='/users/signup'>회원 가입</a>
          <a href='/users/list'>회원 목록</a>
        </div>
      </div>
    </main>
  </body>
</html>